
* {
    box-sizing: border-box;
}

body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 20px; 
}

.contenedor_registro {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
    width: 100%;
    max-width: 400px; 
}

h2 { 
    text-align: center; 
    color: #F54927; 
    margin-top: 0;
}

form { 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
}

select, input {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

input {
    border: none;              
    border-bottom: 2px solid #000000;
    border-radius: 0;          
    outline: none;           
    background: transparent;
    margin: 5px 0; 
}

input:focus {
    border-bottom: 2px solid #F54927;
}

label { 
    font-weight: bold; 
    color: #555; 
    margin-bottom: -5px; 
}

button, .btn-volver {
    width: 100%;
    padding: 12px;
    margin-top: 10px; 
    background-color: #1e1f20;
    color: white;
    border: none;
    border-radius: 8px;      
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
    text-align: center;
    display: block;        
    text-decoration: none;
}

button:hover, .btn-volver:hover {
    background-color: #fc866e; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenedor-materias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    max-height: 200px; 
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #eee;
}

.select-materia {
    width: 100%;
    padding: 8px;
}