<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Universidad - Facultad de Informática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="titulo-uni">
                <p>Universidad</p>
            </div>
            <ul>
                {% if session.get('usuario_id') %}
                    <li><span style="color: #fff;">Hola, {{ session['nombre'] }}</span></li>
                    <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('login_page') }}">Inicio de Sesión</a></li>
                    <li><li><a href="{{ url_for('formulario_registro') }}">Inscripción</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <div class="contenedor-principal">
        <div class="contendor-texto">
            <h1>Bienvenidos</h1>
            <p class="texto-principal">
                "La Facultad de Informática, el espacio donde transformamos el código en soluciones para el 
                mundo real. Esta plataforma es tu puerta de acceso a la innovación y al crecimiento académico..."
            </p>
        </div>

        <div class="contenedor-img">
            <img class="img-principal" src="{{ url_for('static', filename='assets/ingenieria-informatica.jpg') }}" alt="Imagen de Presentacion">
        </div>
    </div>

    {% if session.get('usuario_id') %}
        <div id="materias-container" class="contenedor-materias">
            </div>

        <div id="modal-materia" class="modal">
            <div class="modal-content">
                <h3 style="color: #333;">Inscribir Materia</h3>
                <select id="select-materias" style="width: 100%; padding: 10px; margin-bottom: 20px;">
                    </select>
                <button onclick="confirmarMateria()" style="background: #27ae60; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">Confirmar</button>
                <button onclick="cerrarModal()" style="background: #95a5a6; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">Cancelar</button>
            </div>
        </div>

        <!-- <section class="seccion-cartas">
            <div class="carta">
                <div class="icono">📚</div>
                    <h3>{{ materia.nombre_materia }}</h3>
                    <p>Estado: Inscrita correctamente</p>
                </div>
            </div>

            <a href="#">
                <div class="carta">
                    <div class="icono">➕</div>
                        <h3>Agregar materia</h3>
                        <p>Estado: Inscrita correctamente</p>
                    </div>
                </div>
            </a>
        </section> -->
    {% endif %}

    <script src="../js/materias.js"></script>
</body>
</html>